*{
    border: 1px solid red;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin-top: 0px;
    height: 60px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.navbar-list {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.nav-item {
    margin: 10px;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.background {
    width: 100%;
    height: 65%;
    background-origin: content-box;
    position: relative;
}

.showfeats {
    z-index: auto;
    position: relative;
    float: right;
    width: 100%;
    text-align: center;
    margin-top: -450px;
    color: white;
    font-size: 8em;
}

.shows-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.row-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row-three {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row-four {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h3 {
    margin-bottom: 250px;
    padding-left: 75px;
    font-size: 45px;
}

p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 25px;
}

.show {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.show_object {
    align-items: left;
    font-size: 15px;
    color: #515151;
    margin: 10px;
    padding: 10px;
}

.show_headline {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    line-height: 2rem;
    font-weight: 400;
}

.show_date {
    font-size: 15px;
    color: #515151;
    margin-top: 10px;
    align-items: left;
}

button {
    background-color: orange;
    color: white;
    font-size: 20px;
}

.bottom {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    justify-content: space-evenly;
}

.map {
    width: 250px;
    padding: 4%;
    padding-left: 95px;
}

.mapimg {
    width: 250px;
}

.footinfo {
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: 13px;
}

.footshows {
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: 13px;
}

.social {
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: 13px
}

.foothead {
    font-size: 2em;
}

.tiny {
    margin: 1px;
}

.shaded-box {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 300px;
    padding-right: 300px;
    background-color: #c4c1c1;
}